<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body p-4">
                    <h4 class="card-title text-center mb-4">Connexion</h4>

                    <form class="row g-3" [formGroup]="loginForm">
                        <div class="col-12">
                            <label class="form-label">Email</label>
                            <input type="email" formControlName="email" class="form-control" placeholder="votre@email.com" />
                        </div>

                        <div class="col-12">
                            <label class="form-label">Mot de passe</label>
                            <input formControlName="password"type="password" class="form-control" placeholder="••••••••" />
                        </div>

                        <div class="col-12">
                            <button (click)="login()" type="submit" class="btn btn-primary w-100">
                                Se connecter
                            </button>
                        </div>

                        <div class="col-12">
                            <div class="text-center">
                                <a href="#" class="text-decoration-none">
                                    Mot de passe oublié ?
                                </a>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="position-relative py-2">
                                <hr class="text-muted" />
                                <div
                                    class="position-absolute top-50 start-50 translate-middle bg-white px-2 text-muted">
                                    ou
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="button" class="btn btn-outline-dark w-100 mb-2">
                                <i class="bi bi-google me-2"></i>
                                Continuer avec Google
                            </button>
                            <button type="button" class="btn btn-outline-primary w-100">
                                <i class="bi bi-facebook me-2"></i>
                                Continuer avec Facebook
                            </button>
                        </div>

                        <div class="col-12 text-center">
                            <span class="text-muted">Pas encore de compte ?</span>
                            <a routerLink="/auth/register" class="text-decoration-none">
                                S'inscrire
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>